@use '../../styles/variables.scss' as *;

.container {
    background-color: $background-color-dark;
    padding: 20px 40px;
    height: fit-content;

    form {
        display: grid;
        color: wheat;
    }
}