@use '../../styles/variables.scss' as *;

.container {
    background-color: $background-color-dark;
    padding: 20px 40px;
    height: fit-content;

    form {
        display: grid;
        color: wheat;
        max-width: 50%;
        gap: 5px;

        .form-field {
            display: grid;
            grid-template-rows: 2fr;
            row-gap: 3px;

            input {
                padding: 5px 3px;
            }
        }
    }
}