.container {
  display: grid;
  // place-items: center;
  grid-template-columns: 1fr;
  height: 100vh;
  background-image: url('/assets/images/background-3.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tile-wrapper {
  width: 85%;
  position: relative;
  display: grid;
  // place-items: center;
  grid-template-columns: repeat(10, 100px);
  gap: 10px 10px;
  justify-content: center;
  // align-content: start;
  .tile {
    align-self: center;
  }
}
