// scss style variables

// colors
$primary-color: #9eaeb8;
$primary-color-darker: #304e60;
$secondary-color: #e83b24;
$secondary-color-darker: #6c160a;
$text-color: #f7db98;
$background-color-dark: #282621;
$background-color-lighter: #4d4942;


// fonts
$text-h1-cursif: 'Almendra-Regular';
$text-body-regular: 'MedievalSharp-Regular'