@use '../../../styles/variables.scss'as *;

.tile {
  width: 100px;
  height: 100px;
  background-color: $primary-color-darker;
  color: $text-color;
  border: 2px solid $background-color-dark;
  display: grid;
  grid-template-rows: auto;
  place-items: center;
  align-content: space-between;
  text-align: right;
  gap: 5px;

  transition: 
    width 0.2s,  
    height 0.2s;

  #tileNumber {
    display: flex;
    justify-self: right;
    padding: 4px;
    font-size: 22px;
  }
  #tileName {
    display: flex;
    justify-self: center;
    padding: 1px 8px;
    margin-bottom: 2px;
    background-color: $background-color-lighter;
    color: $text-color;
    border: 2px solid $text-color;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 70px; 
  }

  &:hover {
    width: 105px;
    height: 105px;
  }
}

.tile-pitfall {
  background-color: rgb(255, 51, 29);
  background-image: url('/assets/images/tile-pitfall-minimalistic.webp');
  background-size: cover;
  color: rgb(241, 239, 239);
  border: 2px solid rgb(255, 25, 0);

  #tileNumber {
    color: $background-color-lighter;
  }
}

.tile-merchant {
  background-color: rgb(211, 173, 25);
  background-image: url('/assets/images/tile-merchant-minimalistic.webp');
  background-size: cover;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 248, 53);

  #tileNumber {
    color: $background-color-dark;
  }
}

.tile-forest {
  background-color: rgb(83, 121, 27);
  background-image: url('/assets/images/tile-forest-minimalist.webp');
  background-size: cover;
  border: 2px solid rgb(151, 212, 58);

  #tileNumber {
    color: $background-color-dark;
  }
}
